body {
  background: rgb(30, 144, 255);
}

form {
  border: solid 4px #00000029;
  border-radius: 10px;
}

#formHeader {
  background: rgb(210, 105, 30);
  border-radius: 10px;
  padding: 5px;
}

thead {
  border: solid 3px #fffffffa;
  border-radius: 10px;
}

h1,
p {
  /* color: rgb(210, 105, 30); */
  color: white;
}

.myTitle {
  /* background: rgb(176, 224, 230); */
  background: rgb(210, 105, 30);
  display: flex;
  padding: 20px;
  margin-bottom: 5%;
  min-width: 425px;
  width: 100vw;
}

.formBack {
  /* background: rgb(112, 128, 144); */
  background: #E9ECEF;
  margin-top: 4%;
}

.myForm {
  width: 100vw;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itTrain {
  width: 80%;
  max-width: 900px;
}

#addTrain {
  background: rgb(210, 105, 30);
}

th {
  text-align: center;
}

td {
  color: white;
  text-align: center;
}